In [92]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
#%matplotlib inline
from datetime import date, datetime
import os

from customer_class import Customer
from supermarket import Supermarket

In [93]:
import sys
sys.path.insert(0, "..")

In [3]:
#import transition matrix
tm = pd.read_csv('./data/transition_matrix.csv')
dict = tm.T.to_dict()

In [4]:
tm

   location  checkout     dairy    drinks     fruit    spices
0  checkout  1.000000  0.000000  0.000000  0.000000  0.000000
1     dairy  0.393033  0.000000  0.222483  0.189357  0.195127
2    drinks  0.537260  0.027145  0.000000  0.218950  0.216645
3     fruit  0.500195  0.237993  0.136080  0.000000  0.125732
4    spices  0.251998  0.323122  0.272776  0.152104  0.000000

In [5]:
dict

{0: {'location': 'checkout',
  'checkout': 1.0,
  'dairy': 0.0,
  'drinks': 0.0,
  'fruit': 0.0,
  'spices': 0.0},
 1: {'location': 'dairy',
  'checkout': 0.3930326992947211,
  'dairy': 0.0,
  'drinks': 0.2224834366317589,
  'fruit': 0.1893567001496046,
  'spices': 0.1951271639239153},
 2: {'location': 'drinks',
  'checkout': 0.5372599231754162,
  'dairy': 0.0271446862996158,
  'drinks': 0.0,
  'fruit': 0.2189500640204865,
  'spices': 0.2166453265044814},
 3: {'location': 'fruit',
  'checkout': 0.5001952362358454,
  'dairy': 0.2379929714955095,
  'drinks': 0.1360796563842249,
  'fruit': 0.0,
  'spices': 0.1257321358844201},
 4: {'location': 'spices',
  'checkout': 0.2519978689397975,
  'dairy': 0.3231220031965903,
  'drinks': 0.272775705913692,
  'fruit': 0.15210442194992,
  'spices': 0.0}}

In [10]:
tala = Customer('Tala Smith', 'drinks', dict, 3)

In [ ]:
tala.next_state(current_state='dairy')

In [ ]:
jenny.make_cust_data(current_state='dairy', num_states=5)

In [ ]:
#####test supemarket class

In [94]:
new_day = Supermarket(['Helen Smith', 'Henrik Craig', 'Quentin Jones'], 4, 9)

In [84]:
new_day

Supermarket("[]", "0")

In [95]:
new_day.add_new_customers(15,9)

In [ ]:
new_day.next_minute()

In [102]:
customer_names = ['Helen Smith', 'Henrik Craig', 'Quentin Jones']
for customer_name in customer_names:
    cust = Customer(customer_name, np.random.choice(['dairy','drinks', 'fruit', 'spices']), dict)
    #print(cust)
    customer_obj = cust.name
    print(f"{customer_obj} is at {cust.state}")
    #new_day.add_new_customers(cust)

Helen Smith is at drinks
Henrik Craig is at fruit
Quentin Jones is at fruit