In [816]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
#%matplotlib inline
from datetime import date, datetime
import os
import seaborn as sns
 
from sklearn.linear_model import LinearRegression
import random

from customer_class import Customer

In [817]:
import pandas as pd

wd = 'data/'

f1 = pd.read_csv(wd + 'monday.csv', index_col = 0, parse_dates = True,sep=";")
f2 = pd.read_csv(wd + 'tuesday.csv', index_col = 0, parse_dates = True,sep=";")
f3 =pd.read_csv(wd + 'wednesday.csv', index_col = 0, parse_dates = True,sep=";")
f4 =pd.read_csv(wd + 'thursday.csv', index_col = 0, parse_dates = True,sep=";")
f5 =pd.read_csv(wd + 'friday.csv', index_col = 0, parse_dates = True,sep=";")

df =pd.concat([f1, f2,f3,f4,f5],ignore_index=False)
#merged.to_csv('merged.csv', index=None, header=None)

In [818]:
df.index

DatetimeIndex(['2019-09-02 07:03:00', '2019-09-02 07:03:00',
               '2019-09-02 07:04:00', '2019-09-02 07:04:00',
               '2019-09-02 07:04:00', '2019-09-02 07:04:00',
               '2019-09-02 07:04:00', '2019-09-02 07:04:00',
               '2019-09-02 07:05:00', '2019-09-02 07:05:00',
               ...
               '2019-09-06 21:49:00', '2019-09-06 21:49:00',
               '2019-09-06 21:49:00', '2019-09-06 21:49:00',
               '2019-09-06 21:50:00', '2019-09-06 21:50:00',
               '2019-09-06 21:50:00', '2019-09-06 21:50:00',
               '2019-09-06 21:50:00', '2019-09-06 21:50:00'],
              dtype='datetime64[ns]', name='timestamp', length=24877, freq=None)

In [819]:
 #year
from calendar import month_name

#day

df['day_name'] = df.index.day_name()
df['day'] = df.index.day

df['year'] = df.index.year
#Month
df['month'] = df.index.month
df['day_month'] = df.index.month_name()

#hour
df['hour'] = df.index.hour
#df['day_month'] = df.index.month_name()


#minutes
df['minute'] = df.index.minute
#df['day_month'] = df.index.month_name()

In [820]:
#df.loc[df['day_name'].isin("Monday")]

df[df['day_name'] == "Monday"]

                     customer_no  location day_name  ...  day_month  hour  minute
timestamp                                            ...
2019-09-02 07:03:00            1     dairy   Monday  ...  September     7       3
2019-09-02 07:03:00            2     dairy   Monday  ...  September     7       3
2019-09-02 07:04:00            3     dairy   Monday  ...  September     7       4
2019-09-02 07:04:00            4     dairy   Monday  ...  September     7       4
2019-09-02 07:04:00            5    spices   Monday  ...  September     7       4
...                          ...       ...      ...  ...        ...   ...     ...
2019-09-02 21:49:00         1442  checkout   Monday  ...  September    21      49
2019-09-02 21:49:00         1444  checkout   Monday  ...  September    21      49
2019-09-02 21:49:00         1445     dairy   Monday  ...  September    21      49
2019-09-02 21:50:00         1446     dairy   Monday  ...  September    21      50
2019-09-02 21:50:00         1447     fruit   Monday  ...  September    21      50

[4884 rows x 9 columns]

In [821]:
df[df['day_name'] == "Monday"].groupby(['customer_no','day_name']).agg(lambda x:   x.iloc[-1] -x.iloc[0])

C:\temp\ipykernel_11520\3753338990.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df[df['day_name'] == "Monday"].groupby(['customer_no','day_name']).agg(lambda x:   x.iloc[-1] -x.iloc[0])

                      day  year  month  hour  minute
customer_no day_name
1           Monday      0     0      0     0       2
2           Monday      0     0      0     0       3
3           Monday      0     0      0     0       2
4           Monday      0     0      0     0       4
5           Monday      0     0      0     0       1
...                   ...   ...    ...   ...     ...
1443        Monday      0     0      0     0       1
1444        Monday      0     0      0     0       1
1445        Monday      0     0      0     0       0
1446        Monday      0     0      0     0       0
1447        Monday      0     0      0     0       0

[1447 rows x 5 columns]

In [822]:
df_m = df[df['day_name'] == "Monday"].groupby(['customer_no','day_name']).agg(lambda x:   x.iloc[-1] -x.iloc[0]).reset_index()
df_tu =df[df['day_name'] == "Tuesday"].groupby(['customer_no','day_name']).agg(lambda x:   x.iloc[-1] -x.iloc[0]).reset_index()
df_w =df[df['day_name'] == "Wednesday"].groupby(['customer_no','day_name']).agg(lambda x:   x.iloc[-1] -x.iloc[0]).reset_index()
df_th =df[df['day_name'] == "Thursday"].groupby(['customer_no','day_name']).agg(lambda x:   x.iloc[-1] -x.iloc[0]).reset_index()
df_f =df[df['day_name'] == "Friday"].groupby(['customer_no','day_name']).agg(lambda x:   x.iloc[-1] -x.iloc[0]).reset_index()

C:\temp\ipykernel_11520\3222524183.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_m = df[df['day_name'] == "Monday"].groupby(['customer_no','day_name']).agg(lambda x:   x.iloc[-1] -x.iloc[0]).reset_index()
C:\temp\ipykernel_11520\3222524183.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_tu =df[df['day_name'] == "Tuesday"].groupby(['customer_no','day_name']).agg(lambda x:   x.iloc[-1] -x.iloc[0]).reset_index()
C:\temp\ipykernel_11520\3222524183.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_w =df[df['day_name'] == "Wednesday"].groupby(['customer_no','day_name']).agg(lambda x:   x.iloc[-1] -x.iloc[0]).reset_index()
C:\temp\ipykernel_11520\3222524183.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_th =df[df['day_name'] == "Thursday"].groupby(['customer_no','day_name']).agg(lambda x:   x.iloc[-1] -x.iloc[0]).reset_index()
C:\temp\ipykernel_11520\3222524183.py:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_f =df[df['day_name'] == "Friday"].groupby(['customer_no','day_name']).agg(lambda x:   x.iloc[-1] -x.iloc[0]).reset_index()

In [823]:
#combine above datasts to creaate duration dataset to for calculating time spent in store

df_duration =pd.concat([df_m, df_tu,df_w,df_th,df_f],ignore_index=False)
df_duration.rename(columns={'minute':'duration'}, inplace=True)

In [ ]:
#df_m[['First','Last']] = df_m.index.str.split(",",expand=True,)

In [ ]:
## Join df_m back on the original weekday datasets: f1, f2, f3,f4 ,f5 and re merge horizonally

In [ ]:
df_m
dfM = df.join(df_m, on=['customer_no','day_name'])

#pd.merge(df, df1, on=['Courses','Fee'])

In [824]:
df2 =pd.concat([df_m, df_tu,df_w,df_th,df_f],ignore_index=False)

In [ ]:
###Calculate the total number of customers in each section

In [825]:
df.groupby(['location', 'day_name'])['customer_no'].nunique()

location  day_name
checkout  Friday       1502
          Monday       1437
          Thursday     1532
          Tuesday      1420
          Wednesday    1526
dairy     Friday        761
          Monday        720
          Thursday      782
          Tuesday       751
          Wednesday     804
drinks    Friday        688
          Monday        661
          Thursday      632
          Tuesday       581
          Wednesday     652
fruit     Friday        874
          Monday        827
          Thursday      872
          Tuesday       827
          Wednesday     884
spices    Friday        633
          Monday        584
          Thursday      613
          Tuesday       543
          Wednesday     565
Name: customer_no, dtype: int64

In [826]:
pd.crosstab(df.location,df.day_name, values = df.customer_no, aggfunc = 'nunique')
#pd.crosstab(index = df.Region, columns = df.Type, values = df.Sales, aggfunc = 'mean')

day_name  Friday  Monday  Thursday  Tuesday  Wednesday
location
checkout    1502    1437      1532     1420       1526
dairy        761     720       782      751        804
drinks       688     661       632      581        652
fruit        874     827       872      827        884
spices       633     584       613      543        565

In [ ]:
####Calculate the total number of customers in each section over time

In [827]:
#pd.crosstab(df.location,df.index, values = df.customer_no, aggfunc = 'nunique')

df.groupby([ df.index])['customer_no'].nunique()
df.groupby([ 'day'])['customer_no'].nunique()
df.groupby([ 'hour'])['customer_no'].nunique()

pd.crosstab(df.day ,df.hour, values = df.customer_no, aggfunc = 'nunique')

hour   7    8    9   10  11  12   13   14   15   16   17   18   19   20  21
day
2     102  123   99  94  60  84  130   96  100   99  131  148  140  116  62
3     104  136   85  86  49  67  115  115   80  125  124  147  141  106  64
4      87  181  128  94  94  91  116  116   84  106  102  107  207   92  61
5     105  153  114  99  77  87   89  102   93  129  127  140  182  123  86
6      94  152   95  88  90  95  121  113   88  108  129  163  154  110  60

In [ ]:
####Display the number of customers at checkout over time

In [ ]:
pd.crosstab(df.location =="checkout",df.day_name, values = df.customer_no, aggfunc = 'nunique')

day_name  Friday  Monday  Thursday  Tuesday  Wednesday
location
False       1510    1447      1535     1422       1531
True        1502    1437      1532     1420       1526

In [ ]:
###Calculate the time each customer spent in the market
#using the 'df_duration' dataset

In [ ]:
df_duration.groupby(['customer_no'])['duration'].nunique()

customer_no
1       3
2       5
3       4
4       4
5       4
       ..
1531    1
1532    1
1533    1
1534    1
1535    1
Name: duration, Length: 1535, dtype: int64

In [ ]:
###Calculate the total number of customers in the supermarket over time.

In [828]:
df.index

DatetimeIndex(['2019-09-02 07:03:00', '2019-09-02 07:03:00',
               '2019-09-02 07:04:00', '2019-09-02 07:04:00',
               '2019-09-02 07:04:00', '2019-09-02 07:04:00',
               '2019-09-02 07:04:00', '2019-09-02 07:04:00',
               '2019-09-02 07:05:00', '2019-09-02 07:05:00',
               ...
               '2019-09-06 21:49:00', '2019-09-06 21:49:00',
               '2019-09-06 21:49:00', '2019-09-06 21:49:00',
               '2019-09-06 21:50:00', '2019-09-06 21:50:00',
               '2019-09-06 21:50:00', '2019-09-06 21:50:00',
               '2019-09-06 21:50:00', '2019-09-06 21:50:00'],
              dtype='datetime64[ns]', name='timestamp', length=24877, freq=None)

In [ ]:
 ##Plot the distribution of customers of their first visited section versus following sections (treat all sections visited after the first as “following”).

In [ ]:

#df['rank']= df[['day_name','customer_no']].rank(ascending=1)

#df["Rank"] = df[[ 'customer_no',  'day_name']].rank(method ='dense')
#df.sort_values([ 'customer_no',  'timestamp'])

In [829]:
#df['rank_seller_by_close_date'] = df.groupby('seller_name')['close_date'].rank(method='first')

df['rank'] = df.groupby([ 'customer_no','day_name'])['location'].rank(method='dense')

In [830]:
df.sort_values(by=['day_name','customer_no'], inplace=True)

In [831]:
df['timestep2'] = range(len(df))
#df2.set_index('timestep2', inplace=True)

In [832]:
df['after'] =  df.groupby(['day_name','customer_no'])['location'].shift(-1)

In [833]:
df["after"].fillna("checkout", inplace = True)

In [834]:
tm = pd.crosstab( df['location'],df['after'], normalize=0)

In [859]:
#tm = tm.to_records(index=False)
#tm = tm.to_numpy()
#df.as_matrix(columns=[df[1:]])

dict = {}
dict = tm.values

In [860]:
dict

array([[1.        , 0.        , 0.        , 0.        , 0.        ],
       [0.3930327 , 0.        , 0.22248344, 0.1893567 , 0.19512716],
       [0.53725992, 0.02714469, 0.        , 0.21895006, 0.21664533],
       [0.50019524, 0.23799297, 0.13607966, 0.        , 0.12573214],
       [0.25199787, 0.323122  , 0.27277571, 0.15210442, 0.        ]])

In [837]:
tm

after     checkout     dairy    drinks     fruit    spices
location
checkout  1.000000  0.000000  0.000000  0.000000  0.000000
dairy     0.393033  0.000000  0.222483  0.189357  0.195127
drinks    0.537260  0.027145  0.000000  0.218950  0.216645
fruit     0.500195  0.237993  0.136080  0.000000  0.125732
spices    0.251998  0.323122  0.272776  0.152104  0.000000

In [508]:
#tm2 = tm.iloc[1:]

In [868]:
#dict = df.to_dict('dict')

dict = tm.T.to_dict()
dict.keys()
dict

{'checkout': {'checkout': 1.0,
  'dairy': 0.0,
  'drinks': 0.0,
  'fruit': 0.0,
  'spices': 0.0},
 'dairy': {'checkout': 0.3930326992947211,
  'dairy': 0.0,
  'drinks': 0.22248343663175893,
  'fruit': 0.18935670014960462,
  'spices': 0.19512716392391535},
 'drinks': {'checkout': 0.5372599231754162,
  'dairy': 0.02714468629961588,
  'drinks': 0.0,
  'fruit': 0.21895006402048656,
  'spices': 0.21664532650448143},
 'fruit': {'checkout': 0.5001952362358454,
  'dairy': 0.23799297149550958,
  'drinks': 0.13607965638422492,
  'fruit': 0.0,
  'spices': 0.12573213588442014},
 'spices': {'checkout': 0.25199786893979753,
  'dairy': 0.3231220031965903,
  'drinks': 0.27277570591369205,
  'fruit': 0.15210442194992008,
  'spices': 0.0}}

In [492]:
#del dict['checkout']

In [867]:
dict

array([[1.        , 0.        , 0.        , 0.        , 0.        ],
       [0.3930327 , 0.        , 0.22248344, 0.1893567 , 0.19512716],
       [0.53725992, 0.02714469, 0.        , 0.21895006, 0.21664533],
       [0.50019524, 0.23799297, 0.13607966, 0.        , 0.12573214],
       [0.25199787, 0.323122  , 0.27277571, 0.15210442, 0.        ]])

In [869]:
list(dict.keys())
#r = list(['checkout'])

['checkout', 'dairy', 'drinks', 'fruit', 'spices']

In [452]:
ls

['checkout', 'dairy', 'drinks', 'fruit', 'spices']

In [458]:
no_co = [x for x in ls if  x not in r or r.remove(x)]

In [456]:
no_co

['dairy', 'drinks', 'fruit', 'spices']

In [478]:
tm.loc[:, tm.columns!='checkout'].values

array([[0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.22248344, 0.1893567 , 0.19512716],
       [0.02714469, 0.        , 0.21895006, 0.21664533],
       [0.23799297, 0.13607966, 0.        , 0.12573214],
       [0.323122  , 0.27277571, 0.15210442, 0.        ]])

In [840]:
tm = tm.T

In [889]:
#cust1 = Customer()
Helen_Smith = Customer('Helen Smith', 'dairy', dict, 3)

In [893]:
Helen_Smith.is_active()

False

In [892]:
Helen_Smith.next_state(current_state='dairy')

'spices'

In [896]:
Helen_Smith.make_cust_data(current_state='dairy', num_states=4)

['drinks', 'spices', 'dairy', 'spices']

['spices', 'checkout', 'fruit', 'checkout']

In [886]:
import datetime as dt
#pd.to_datetime(df.index)
df['time'] = pd.to_datetime(df.index).time

In [887]:
from datetime import datetime, timedelta

result = df.index + timedelta(minutes=0)
df['time'] = pd.to_datetime(df.index).time

print(result)

DatetimeIndex(['2019-09-06 07:00:00', '2019-09-06 07:04:00',
               '2019-09-06 07:05:00', '2019-09-06 07:00:00',
               '2019-09-06 07:01:00', '2019-09-06 07:00:00',
               '2019-09-06 07:03:00', '2019-09-06 07:04:00',
               '2019-09-06 07:11:00', '2019-09-06 07:01:00',
               ...
               '2019-09-04 21:45:00', '2019-09-04 21:48:00',
               '2019-09-04 21:45:00', '2019-09-04 21:47:00',
               '2019-09-04 21:49:00', '2019-09-04 21:46:00',
               '2019-09-04 21:47:00', '2019-09-04 21:49:00',
               '2019-09-04 21:46:00', '2019-09-04 21:49:00'],
              dtype='datetime64[ns]', name='timestamp', length=24877, freq=None)

In [56]:
### export original dataframe transition matrix to be used in the Supermarket class
# export the transition prob matrix to csv

tm.to_csv('./data/transition_matrix.csv')